[submodule "brewhops-documents"]
	path = brewhops-documents
	url = git@github.com:danvanhorn/brewhops-documents.git
[submodule "brewhops-api"]
	path = brewhops-api
	url = git@github.com:danvanhorn/brewhops-api.git
[submodule "brewhops-app"]
	path = brewhops-app
	url = git@github.com:danvanhorn/brewhops-app.git
